<div class="listing-products marTop100">
  <div class="container">
    <div class="panel panel-default">
		  <div class="panel-body">
		    <div class="col-lg-5 centerForm">
		    	<table>
				    <tr>
						  <td><strong>Payment:</strong></td>
						  <td>Rs.<%= @extra_expenditure.payment %></td>
						</tr>
						<tr>
						  <td><strong>Type:</strong></td>
						  <td><%= @extra_expenditure.extra_type %></td>
						</tr>
						<tr>
							<% if !@extra_expenditure.other_reason.nil? %>
								<td><%= @extra_expenditure.other_reason %></td>
							<% end %>
						</tr>
						<tr>
						  <td><strong>Reason:</strong></td>
						  <td><%= @extra_expenditure.reason %></td>
						</tr>
						<% if !@extra_expenditure.image.path.nil? %>
							<tr>
								<td><strong>Recipt Pic:</strong></td>
								<td>
								  <%= image_tag @extra_expenditure.image.url(:original) %>
								</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
  </div>
</div>

