<div class="listing-products marTop100">
  <div class="row">
    <div class="col-lg-12" style="padding-left:0px;">
      <div class="container">
        <h1>User</h1>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-lg-5 centerForm2" style="padding: 25px 0 0 20px">
              <table>
                <tr>
                  <td><strong class="control-label">Name:</strong></td>
                  <td><%= @user.name %></td>
                </tr>
                
                <tr>
                  <td><strong class="control-label">Email:</strong></td>
                  <td><%= @user.email %></td>
                </tr>
                
                <tr>
                  <td><strong class="control-label">Food Expenses:</strong></td>
                  <td><%= food = @user.extra_expenditures.map(&:payment).sum %></td>
                </tr>

                <tr>
                  <td><strong class="control-label">Transport Expenses:</strong></td>
                  <td><%= transport = @user.transport_expenditures.map(&:payment).sum  %></td>
                </tr>
                
                <tr>
                  <td><strong class="control-label">Hotel Expenses:</strong></td>
                  <td><%= hotel = @user.hotel_expenditures.map(&:total_amount).sum %></td>
                </tr>

                <tr>
                  <td><strong class="control-label">Miscellaneous Expenses:</strong></td>
                  <td><%= extra = @user.extra_expenditures.map(&:payment).sum %></td>
                </tr>

                <tr>
                  <td><strong class="control-label">Total Balance:</strong></td>
                  <td><%= @user.total_amount %></td>
                </tr>

                <tr>
                  <td><strong class="control-label">Total Expenses:</strong></td>
                  <td><%= food+hotel+extra+transport %></td>
                </tr>

                <tr>
                  <td><strong class="control-label">Remaining Balance:</strong></td>
                  <td><%= @user.current_amount %></td>
                </tr>
              </table>

            </div>
            <div class="col-lg-7">
              <%= column_chart({"Food" => food,"Hotel"=>hotel,"transport"=>transport,"Extra"=>extra}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
