<div class="listing-products marTop100">
  <div class="row">
    <div class="col-lg-12" style="padding-left:0px;">
      <div class="container">
        <h1>Report</h1>
        
        <% if !@food_expenditures.nil? %>
          <div class="panel panel-default" style="border:0">
            <div class="panel-body">
              <div class="col-lg-12">
                <table class="table table-striped table-bordered listing-products-table">
                  <thead>
                    <tr>
                      <th style="color:#5ca545">Ref#</th>
                      <th style="color:#5ca545">Guest</th>
                      <th style="color:#5ca545">Hotel name</th>
                      <th style="color:#5ca545">Food type</th>
                      <th style="color:#5ca545">No of persons</th>
                      <th style="color:#5ca545">On Request</th>
                      <th style="color:#5ca545">Payment</th>
                     
                      
                    </tr>
                  </thead>

                  <tbody>
                    <% @food_expenditures.each do |food_expenditure| %>
                      <tr>
                        <td><%= food_expenditure.voucher_reference %></td>
                        <td><%= food_expenditure.guest_name %></td>
                        <td><%= food_expenditure.hotel_name %></td>
                        <td><%= food_expenditure.food_type %></td>
                        <td><%= food_expenditure.no_of_persons %></td>            
                        <td><%= food_expenditure.on_request_of %></td>
                        <td><%= food_expenditure.payment %></td>
                        
                                    
                        
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                
              </div>
              
            </div>
          </div>
        <% elsif !@transport_expenditures.nil?%>
          <div class="panel panel-default" style="border:0">
            <div class="panel-body">
              <div class="col-lg-12">
                <table class="table table-striped table-bordered listing-products-table">
                  <thead>
                    <tr>

                      <th style="color:#5ca545">Employee</th>
                      <th style="color:#5ca545">Date</th>
                      <th style="color:#5ca545">Supplier</th>
                      <th style="color:#5ca545">Guest</th>
                      <th style="color:#5ca545">Ref#</th>
                      <th style="color:#5ca545">Transport type</th>
                      <th style="color:#5ca545">No of seats</th>
                      <th style="color:#5ca545">Arrival place</th>
                      <th style="color:#5ca545">Departure place</th>
                      <th style="color:#5ca545">Payment</th>
                      
                    </tr>
                  </thead>

                  <tbody>
                    <% @transport_expenditures.each do |transport_expenditure| %>
                      <tr>
                        <td><%= link_to transport_expenditure.user.name, show_user_home_path(transport_expenditure.user) %></td>

                        <td><%= transport_expenditure.created_at.to_date %></td>
                        <td><%= transport_expenditure.supplier_name %></td>
                        <td><%= transport_expenditure.guest_name %></td>
                        <td><%= transport_expenditure.voucher_reference %></td>
                        <td><%= transport_expenditure.transport_type %></td>
                        <td><%= transport_expenditure.no_of_seats %></td>
                        <td><%= transport_expenditure.arrival_place %></td>
                        <td><%= transport_expenditure.departure_place %></td>
                        <td><%= transport_expenditure.payment %></td>
                                   
                      </tr>
                    <% end %>
                  </tbody>
                </table>
               
              </div>
               <div style="text-align:center"><%= will_paginate @transport_expenditures %></div> 
            </div>
          </div>
        <% elsif !@hotel_expenditures.nil? %>
          <div class="panel panel-default" style="border:0">
              <div class="panel-body">
                <div class="col-lg-12">
                  <table class="table table-striped table-bordered listing-products-table">
                    <thead>
                      <tr>
                        <th style="color:#5ca545">Employee</th>
                        <th style="color:#5ca545">Date</th>
                        <th style="color:#5ca545">Supplier</th>
                        <th style="color:#5ca545">Guest</th>
                        <th style="color:#5ca545">Ref#</th>
                        <th style="color:#5ca545">Hotel name</th>
                        <th style="color:#5ca545">Checked in</th>
                        <th style="color:#5ca545">Checked out</th>
                        <th style="color:#5ca545">T.Days</th>
                        <th style="color:#5ca545">Rate P.Day</th>
                        <th style="color:#5ca545">Room</th>
                        <th style="color:#5ca545">Room type</th>
                        <th style="color:#5ca545">T.mount</th>
                        
                        
                      </tr>
                    </thead>

                    <tbody>
                      <% @hotel_expenditures.each do |hotel_expenditure| %>
                        <tr>
                          <td><%= link_to hotel_expenditure.user.name, show_user_home_path(hotel_expenditure.user) %></td>
                          <td><%= hotel_expenditure.created_at.to_date %></td>
                          <td><%= hotel_expenditure.supplier_name %></td>
                          <td><%= hotel_expenditure.guest_name %></td>
                          <td><%= hotel_expenditure.voucher_reference %></td>
                          <td><%= hotel_expenditure.hotel_name %></td>
                          <td><%= hotel_expenditure.checked_in_date.to_date %></td>
                          <td><%= hotel_expenditure.checked_out_date.to_date %></td>
                          <td><%= hotel_expenditure.total_days %></td>
                          <td><%= hotel_expenditure.charges_per_day %></td>
                          <td><%= hotel_expenditure.no_of_rooms %></td>
                          <td><%= hotel_expenditure.room_type %></td>                                                                  
                          <td><%= hotel_expenditure.total_amount %></td>
                                     
                        </tr>
                      <% end %>
                    </tbody>
                    
                  </table> 
                  
                </div>
              </div>
          </div>
        <% elsif !@extra_expenditures.nil? %>
          <div class="panel panel-default" style="border:0">
            <div class="panel-body">
              <div class="col-lg-12">
                <table class="table table-striped table-bordered listing-products-table">
                  <thead>
                    <tr>
                      <th style="color:#5ca545">Employee</th>
                      <th style="color:#5ca545">Date</th>
                      <th style="color:#5ca545">Expenditure type</th>
                      <th style="color:#5ca545">Payment</th>
                      <th style="color:#5ca545">Reason</th>
                      
                    </tr>
                  </thead>

                  <tbody>
                    <% @extra_expenditures.each do |extra_expenditure| %>
                      <tr>
                        <td><%= link_to extra_expenditure.user.name, show_user_home_path(extra_expenditure.user) %></td>

                        <td><%= extra_expenditure.created_at.to_date %></td>
                        <td><%= extra_expenditure.expenditure_type %></td>
                        <td><%= extra_expenditure.payment %></td>
                        <td><%= extra_expenditure.reason %></td>
                                                         
                      </tr>
                    <% end %>
                  </tbody>
                </table>              
              </div>
              
            </div>
          </div>
        <% else %>
          <div class="panel panel-default" style="border:0">
            <div class="panel-body">
                <div class="col-lg-12">
                  <table class="table table-striped table-bordered listing-products-table">
                    <thead>
                      <tr>
                        <th style="color:#5ca545">Date</th>
                        <th style="color:#5ca545">Balance Added</th>
                        <th style="color:#5ca545">F.Expenses</th>
                        <th style="color:#5ca545">T.Expenses</th>
                        <th style="color:#5ca545">M.Expenses</th>
                        <th style="color:#5ca545">H.Expenses</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% (@start_date..@end_date).each do |day| %>                      
                        <% credit_added = UserBalance.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,day.beginning_of_day,day.end_of_day) %>
                        <% u_credit = 0 %>
                        <% credit_added.each do |credit| %>
                          <% u_credit = u_credit + credit.amount %>
                        <% end %> 

                        <% f_expenditures = FoodExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,day.beginning_of_day,day.end_of_day) %>
                        <% f_expenses = 0 %>
                        <% f_expenditures.each do |credit| %>
                          <% f_expenses = f_expenses + credit.payment %>
                        <% end %> 

                        <% t_expenditures = TransportExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,day.beginning_of_day,day.end_of_day)%>
                        <% t_expenses = 0 %>
                        <% t_expenditures.each do |credit| %>
                          <% t_expenses = t_expenses + credit.payment %>
                        <% end %> 

                        <% e_expenditures = ExtraExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,day.beginning_of_day,day.end_of_day) %>
                        <% e_expenses = 0 %>
                        <% e_expenditures.each do |credit| %>
                          <% e_expenses = e_expenses + credit.payment %>
                        <% end %> 

                        <% h_expenditures = HotelExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,day.beginning_of_day,day.end_of_day) %>
                        <% h_expenses = 0 %>
                        <% h_expenditures.each do |credit| %>
                          <% h_expenses = h_expenses + credit.total_amount %>
                        <% end %> 

                        <tr>
                          <td><%= day %></td>
                          <td><%= u_credit %></td>
                          <td><%= f_expenses %></td>
                          <td><%= t_expenses %></td>
                          <td><%= e_expenses %></td>
                          <td><%= h_expenses %></td>
                        </tr>

                      <% end %>
                      <tr>
                        <td>Total</td>
                        <td><%= UserBalance.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,@start_date,@end_date.end_of_day).map(&:amount).sum %></td>
                        <td><%= FoodExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,@start_date,@end_date.end_of_day).map(&:payment).sum %></td>
                        <td><%= TransportExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,@start_date,@end_date.end_of_day).map(&:payment).sum %></td>
                        <td><%= ExtraExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,@start_date,@end_date.end_of_day).map(&:payment).sum %></td>
                        <td><%= HotelExpenditure.where("user_id= ? and created_at >= ? and created_at <= ?",current_user.id,@start_date,@end_date.end_of_day).map(&:total_amount).sum %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

