<div class="listing-products marTop100">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-5 centerForm">
          <table>
            <tr>
              <td><strong>Voucher:</strong></td>
              <td><%= @hotel_expenditure.voucher_reference %></td>
            </tr>
            <tr>
              <td><strong>Guest Name:</strong></td>
              <td><%= @hotel_expenditure.guest_name %></td>
            </tr>
            
            <tr>
              <td>
                <strong>Supplier Name:</strong>
              </td>
              <td>
                <%= @hotel_expenditure.supplier_name %>
              </td>
            </tr>

            <tr>
              <td>
                <strong>Hotel Name:</strong>
              </td>
              <td>
                <%= @hotel_expenditure.hotel_name %>
              </td>
            </tr>

            <tr>
              <td>
                <strong>No of persons:</strong>
              </td>
              <td>
                <%= @hotel_expenditure.no_of_persons %>
              </td>
            </tr>



            <tr>
              <td><strong>Adults:</strong></td>
              <td><%= @hotel_expenditure.adults %></td>
            </tr>

            <tr>
              <td><strong>Childrens:</strong></td>
              <td><%= @hotel_expenditure.children %></td>
            </tr>

            <tr>
              <td>
                <strong>Checked In:</strong>
              </td>
              <td>
                <%= @hotel_expenditure.checked_in_date.to_date %>
              </td>
            </tr>

            <tr>
              <td>
                <strong>Checked Out::</strong>
              </td>
              <td>
                <%= @hotel_expenditure.checked_in_date.to_date %>
              </td>
            </tr>

            <tr>
              <td>
                <strong>No of rooms:</strong>
                
              </td>
              <td>
                <%= @hotel_expenditure.no_of_rooms %>
              </td>
            </tr>

            <tr>
              <td><strong>Room type:</strong></td>
              <td><%= @hotel_expenditure.room_type %></td>
            </tr>

            <tr>
              <td><strong>Room Basis:</strong></td>
              <td><%= @hotel_expenditure.room_basis %></td>
            </tr>

            <tr>
              <td>
                <strong>Total days::</strong>
              </td>
              <td>
                <%= @hotel_expenditure.total_days %>
              </td>
            </tr>

            <tr>
              <td>
                <strong>Charges per day:</strong>
              </td>
              <td>
                <%= @hotel_expenditure.charges_per_day %>
              </td>
            </tr>

            <tr>
              <td><strong>Total amount:</strong></td>
              <td><%= @hotel_expenditure.total_amount %></td>
            </tr>


            <tr>
              <td><strong>Comments:</strong></td>
              <td><%= @hotel_expenditure.comments %></td>
            </tr>

            <% if !@hotel_expenditure.image.path.nil? %>
              <tr>
                <td><strong>Recipt Pic:</strong></td>
                <td>
                  <%= image_tag @hotel_expenditure.image.url(:original) %>
                </td> 
              </tr>
            <% end %>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>



